
<div>

        <input type="text" id="name" placeholder="name"/>
        <input type="text" id="age" placeholder="age"/>
        <input type="file" id="file" name="image"/>
        <button id="add-user">Add</button>
    
</div>
<%- include('./footer'); %>
